@import './base.less';
@import './vant.less';

/* 手机端CSS代码 */
@media screen and (max-width: 960px) {
  //滚动条
  //*::-webkit-scrollbar {/* 滚动条整体样式 */
  //  display: none;
  //}
}

/* 电脑端CSS代码 */
@media only screen and (min-width: 960px) {
  //滚动条
  *::-webkit-scrollbar {/* 滚动条整体样式 */
    width: 6px;     /* 高宽分别对应横竖滚动条的尺寸 */
    height: 7px;
  }
  *::-webkit-scrollbar-thumb {/* 滚动条里面小方块 */
    cursor: pointer;
    background-color: rgba(144, 147, 153, 0.3);
    border-radius: 4px;
    &:hover {
      background-color: rgba(144, 147, 153, 0.5);
    }
  }
  *::-webkit-scrollbar-track-piece {
    background: #f5f5f5;
  }
}

//样式reset
html {
  overflow: hidden;
  background: @background-color;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0 auto !important;
  overflow: hidden;
}

//color  颜色样式
.black { color: #000; }
.white { color: #fff; }
.red { color: #FE552E; }
.blue { color: #1989fa; }
.orange { color: #ff976a; }
.green { color: #07c160; }

//全局样式
.page-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}

// 底部大按钮
.page-btn.van-button {
  display: block;
  width: 343px;
  height: 50px;
  margin: 40px auto;
  background-image: linear-gradient(90deg, #49E387 2%, #35D374 99%);
  border-radius: 25px;
  &:active {
    background-image: linear-gradient(90deg, #35D374 2%, #13b152 99%);
  }
  .van-button__text {
    font-size: 18px;
    color: #fff;
  }
  .van-button__loading {
    color: #fff;
  }
}
