
//Vant  重置样式
.van-nav-bar{
  background-color: #FE552E !important;
  z-index: 2 !important;
  color: #fff;
  .van-nav-bar__left{
    .van-icon,.van-nav-bar__text{
      color: #fff !important;
    }
  }
  .van-nav-bar__title{
    color: #fff !important;
  }
  .van-nav-bar__text:active {
    background-color: transparent !important;
  }
}
.van-cell:not(:last-child){
  .border-1px-bottom(#ebedf0)
}

.van-tabbar--fixed{
  position: absolute !important;
}
